html[dir="ltr"] .fps-wrapper {
    direction: ltr;
}
html[dir="ltr"] .fps-input input {
    direction: ltr;
    padding: 0 0px 0px 46px;
}
html[dir="ltr"] .fps-input span {
    right: auto;
    left: 12px;
}
html[dir="ltr"] .fps-subtitle {
    text-align: left;
    margin-left: 12px;
}

.fps-wrapper {
    background: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    height: 100%;
}

.fps-card {
    background: var(--color-bg);
    width: 370px;
    padding: 32px 24px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .12);
    text-align: right;
    margin: 32px 32px 32px 0;
    align-self: center;
    position: relative;
    z-index: 2;
}

.fps-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--color-title);
    text-align: right;
}

.fps-subtitle {
    font-size: 14px;
    color: var(--color-paragraph);
    margin-bottom: 22px;
    text-align: right;
}

.fps-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 18px;
}

.fps-input input {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1.5px solid var(--color-border);
    padding: 0 52px 0 14px;
    font-size: 15px;
    background: var(--color-bg);
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transition: border-color 0.2s;
}

.fps-input input:focus {
    border-color: var(--color-primary);
}

.fps-input {
    position: relative;
}

.fps-input span {
    background: var(--color-light-grey);
    color: var(--color-search-icon);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    top: 9px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.fps-form button {
    margin-top: 10px;
    height: 48px;
    border-radius: 10px;
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(240, 125, 59, 0.12);
    transition: background 0.2s;
}

.fps-form button:hover {
    background: var(--color-accent);
}

@media (max-width: 768px) {
    .fps-title {
        font-size: 15px;
    }

    .fps-input input {
        width: 100%;
        height: 44px;
        font-size: 12px;
    }

    .fps-form button {
        margin-top: -3px;
        height: 38px;
    }
}

@media (max-width: 900px) {
    .fps-wrapper {
        justify-content: center;
        margin: 0;
    }

    .fps-card {
        margin: 24px auto;
        max-width: 300px;
    }
}